.font{
    font-family: "Noto Serif", serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
/* navbar styles */
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-link{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}
.nav-list{
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 20px;
}
.nav-logo{
    margin-top: 10px;
}
.meddium-bold{
    font-weight: bold;
    color: #252432;
}
.regular-bold{
    color: #8987A1;
}
/* banner styles */
.banner{
    display: flex;
    height: 460px;
    margin: 120px auto;
}
.banner-text{
    margin-top: 162px;
}
.banner-img{
    margin-top: 162px;
}
.banner-text h2{
    font-size: 65px;
    font-weight: bold;
    color: #000000;
}
.banner-text h2 > span{
    color: #E95A08;
}
.banner-text p{
    color: #8987A1;
    margin-bottom: 0;
}
/* our-plants styles */
.our-plants-tittle{
    height: 138px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
.our-plants-tittle span{
    color: #E95A08
}
.our-plants-tittle h2{
    font-size: 50px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 0;
}
.our-plants-tittle p{
    color: #8987A1;
    margin-top: 0;
    text-align: center;
}
.our-plants-card{
    display :grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}
.our-plants-card h5{
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.our-plants-card p{
    color: #252432;
    margin-top: 0;
    display: flex;
    justify-content: center;
}
.our-plants-card img{
    width: 100%;
    height: 300px;
}
.our-plants-card button{
    width: 100%;
    height: 50px;
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.our-plants-card button:hover{
    background-color: #252432;
}
/* plants-lover-styles */
.plants-lover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 60px;
}
.plants-lover-img{
    width: 540px;
    height: 597px;
    position: relative;
  display: inline-block;
}
.plant-img{
     display: block;
}
.badge{
width: 286px;
position: absolute;
top: -130px;
right: -100px;
}
.plants-lover-text h2{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.plants-lover-text ul{
    color: #8987A1;
    margin-top: 0;
}
.plants-lover-text ul li{
    margin-top: 10px;
}
/* join-us-styles */
.join-us{
    width: 100%;
    height: 533px;
    background-image: url(./assets/news-letter-bg.png);
    margin-top: 100px;
}
    .join-us-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .join-us-text h3{
        font-size: 50px;
        font-weight: bold;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    input[type="email"]{
        width: 644px;
        height: 50px;
        border: none;
        padding-left: 20px;
    }
    .join-us-text button{
        width: 200px;
        height: 50px;
        background-color: #E95A08;
        color: #FFFFFF;
        border: none;
        font-weight: bold;
        cursor: pointer;
        
    }
    .join-us-text button:hover{
        background-color: #252432;
    }
    .join-us-input{
        display: flex;
       
    }
@media screen and (max-width:600px) {
    div ul{
        display: none;
         }
         .navbar{
            margin: 10px 20px;
            gap: 185px;
            
         }
         .banner{
            flex-direction: column-reverse;
            margin-top: 350px;
            
         }
         .banner-text{
            margin-left: 10px;
            margin-top: 0;
         }
         #cart{
            display: flex;
            gap: 5px;
            margin-left: 100px;
         }
         .banner-text h2{
            font-size: 30px;
            margin-bottom: 0;
         }
         .our-plants-card{
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
            height: 340px;
            margin-left: 80px;
            gap: 20px;
            margin-top: 50px;
         }
            .our-plants-card img{
                width: 100%;
                height: 200px;
            }
            .our-plants-tittle{
                width: 393px;
                height: 117px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0 0 80px;
               
            }
            .our-plants-tittle h2{
                font-size: 30px;
                margin-bottom: 0;
            }
            .plants-lover{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }
            .badge{
                display: none;
            }
            .plants-lover-text{
                text-align: center;
                margin-top: 500px
            }
}